<launch>
    <param name="/use_sim_time" value="false" />
	
    <!-- Load the URDF/Xacro model of our robot -->
    <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find litebot_description)/urdf/litebot.xacro'" />
	<arg name="gui" default="false" />

	<param name="robot_description" command="$(arg urdf_file)" />
	<param name="use_gui" value="$(arg gui)"/>

	<node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <rosparam file="$(find litebot_description)/config/fake_litebot_arbotix.yaml" command="load" />
        <param name="sim" value="true"/>
    </node>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" type="double" value="20.0" />
    </node>

	<!-- Launch visualization in rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find litebot_description)/config/urdf.rviz" required="true" />
</launch>
